.center {
  display: block;
  float: none;
  margin: 0 auto;
}

@each $size in xs, sm, md, lg, xl {
  @include breakpoint( $size ) {
    .match-y-#{$size} {
      display: table;
      & > .col { display: table-cell; float: none; }
    }
  } /* include */
}