$rem-base: 16px;
$base-font-size: 16px;
$total-columns: 12;
$col-width: 100 / $total-columns;

$min-breakpoints: (
  xs: 320, /* iphone 3g */
  sm: 640, /* iphone 4 */
  md: 750, /* iphone 6 */
  lg: 1200, /* compooter */
  xl: 1440
);

$background: #1C1C1C;
$gray-light: #474747;
$color0:     #1c2022;
$color0:     #474747;
$color8:     #6c6c6c;
$color1:     #ff005b;
$color9:     #ff00a0;
$color2:     #cee318;
$color10:    #ccff00;
$color3:     #ffe755;
$color3:     #EFFF00;
$color11:    #DEFF00;
$color11:    #ff9f00;
$color4:     #048ac7;
$color12:    #48c6ff;
$color5:     #833c9f;
$color13:    #be67e1;
$color6:     #0ac1cd;
$color14:    #63e7f0;
$color7:     #e5e5e5;
$color15:    #f3f3f3;